{% load static %}


<div id="main-footer" class="d-flex justify-content-between px-4 py-4 bg-primary text-white text-center">
    <div>
        <img class="text-white" src="{% static 'img/footer_visa.png' %}" alt="foter card image" width="200" height="50">
    </div>
    <div class="mt-auto p-1">
        Copyright &copy;
        <span class="year"></span>
        <a class="text-success" href="#" style="text-decoration:none">insidertravelagency.com</a>
        All rights reserved.
    </div>
</div>